<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div style="margin-bottom: 2px">
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
    <mark  style="background-color: #fff;">
    </mark>
    <mark  ng-show="inCart()" style="background-color: #fff;">
        This item is in your cart
        <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">
            <i class="fa fa-remove"></i>
        </a>
    </mark>
</div>