<!-- details --> 
<div class="details" ng-controller="detailsCtrl">
  <div class="container">

      <div class="thumbnail simpleCart_shelfItem">
        
        <div class="img-container">
          <img ng-src="{{details.img}}" alt={{details.name}}>
          <button ng-click="doBack()" class="btn btn-default button">
            back
          </button>
        </div>
        <p class="item_name">{{details.name}}</p>
        <p>{{details.description}}</p>
        <p>{{details.material}}</p>
        <p>Made-in: {{details.madeIn}}</p>

        <!-- Color --> 
        <!--input type="checkbox" class="item_color" value="Blue"/><label>Blue</label>
        <input type="checkbox" class="item_color" value="Yellow"/><label>Yellow</label>
        <input type="checkbox" class="item_color" value="Red"/><label>Red</label-->
        <!--input type="hidden" class="item_shipping" value="20" />  
        <input type="text" class="item_quantity" value="1" /-->
        <p class="item_price">${{details.price}}</p>
        <p>
        <select class="item_Size">
          <option value="Small">Small</option>
          <option value="Medium">Medium</option>
          <option value="Large">Large</option>  
        </select>
        </p>

        <p>
        <input type="button"
        class="item_add btn btn-default" 
        value="Add to Bag">
        </p>

      </div>
    </div>

  </div>
</div>