<!-- Jumbotron -->
<div class="jumbotron active">
  <div class="container-fluid">
    <h1>Fall</h1>
    <h3><a href="#/item">Prepare for the Season</a></h3>
    <p>
      <a href="#/item">
        <button class="btn btn-primary btn-lg discover">
          Discover
        </button>
      </a>
    </p>
    <div class="icons">
      <p>
        <a target="_blank" href="http://facebook.com">
          <i class="fa fa-facebook-square fa-lg"></i>
        </a> &nbsp;
        <a target="_blank" href="http://instagram.com">
          <i class="fa fa-instagram fa-lg"></i>
        </a>
      </p>
    </div>
  </div>
</div>