<!-- Home -->
<div class="home container-fluid">

  <div class="col-sm-6">
    <p>Promotion</p>
    <a href="#/item">
      <img src="img/home/0.jpg" alt="FRIDAY">
    </a>
  </div>
  <!-- New Arrvial -->
  <div class="col-sm-6">
    <p>New Arrival</p>
    <a href="#/new">
      <!-- Slideshow -->
      <div ng-controller="homeSlidesCtrl">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.img}}" style="margin:auto;">
          </uib-slide>
        </uib-carousel>
      </div>
    </a>
  </div>

</div>

<!-- Footer -->
<footer>
  <p class="container">
    <p>follow us</p>
    <p class="icons">
      <a target="_blank" href="https://github.com/wsjwong">
        <i class="fa fa-github-square fa-2x"></i>
      </a> &nbsp
      <a target="_blank" href="https://www.facebook.com/">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a> &nbsp
      <a target="_blank" href="http://instagram.com">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
    </p>
    <p class="copyright">
    © 2015 Store
    </p>
  </p>
</footer>
