<!-- Home -->
<div class="home container-fluid">

  <div class="col-sm-6">
    <a href="#/item">
      <img src="img/home/0.jpg" alt="FRIDAY">
    </a>
  </div>
  <!-- New Arrvial -->
  <div class="col-sm-6">
    <p>New Arrival</p>
    <a href="#/new">
      <img src="img/home/1.jpg">
    </a>
  </div>

</div>

<!-- Footer -->
<footer>
  <p class="container">
    <p>follow us</p>
    <p class="icons">
      <a target="_blank" href="http://facebook.com">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a> &nbsp
      <a target="_blank" href="http://instagram.com">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
    </p>
    <p class="copyright">
    © 2015 friday
    </p>
  </p>
</footer>