.cart {
  margin-top: 70px;
}

.cart p {
  text-align: right;
}

.simpleCart_items table, th{
  text-align: center;
}

.cart a {
  color: #333;
}

.cart a:hover {
  background-color: transparent !important;
  color: #333;
  text-decoration: none;
}