.cart {
  display: none;
  margin-top: 70px;
}

.simpleCart_items table {
  width: 100%;
  margin-bottom: 20px;
}

.simpleCart_items table, th, td{
  border: 1px solid;
  border-color: #ddd;
  text-align: center;
}

.cart a {
  color: #333;
}

.cart a:hover {
  background-color: transparent !important;
  color: #333;
  text-decoration: none;
}