.details {
  margin-top: 50px;
  padding-top: 20px;
}

/* Center the thumbnail */
.details .thumbnail {
  float: none;
  margin: auto;
}

.details .thumbnail img {
  margin-bottom: 10px;
  width: 100%;
}

/* Button on img
.details .img-container {
    position:relative;
}

.details .button {
    position:absolute;
    top: 10px;
    left: 10px;
}*/