.home {
  padding-top: 50px;
}

.home img{
  width: 100%;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

footer a{
  color: white;
}

footer a:hover{
  color: #7F7F7F;
}