.home {
  padding-top: 50px;
  text-align: center;
}

.home img{
  width: 100%;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  color: #777;
  padding-top: 20px;
  padding-bottom: 10px;
}

footer a {
  color: #777;
}

footer a:hover {
  color: black;
}

.copyright {
  letter-spacing: .1em;
  font-size: .75em;
}