.jumbotron {
  margin-bottom: 3px;
  text-align: center;
}

.jumbotron img{
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0px;
  margin: auto;
  left: 0px;
  right: 0px;
  text-align: center;
}

.icons {
  opacity: 0.7;
}