html {
  height: 100%;
  letter-spacing: .2em;
  font-size: .875em;
  text-transform: uppercase;
}

body {
  height: 100%;
  position: relative;
}

.ng-scope {
  height: 100%;
}

.loading {
  height: 100%;
  width: 100%;
  background: url('../../img/loading.svg');
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: center;
}

/* .nav a {
  color: #fff;
}

.navbar {
  background: rgba(0, 0, 0, 0.60);
  border: none;
  max-height: 50px;
  padding-left: 15px;
  padding-right: 30px; /* 15px + brand padding-left 15px
}

.nav a:hover {
  color: #7F7F7F !important;
  background-color: transparent !important;
}

.navbar-brand {
  color: #fff;
  letter-spacing: .2em;
  position: absolute;
  left: 50%;
  margin-left: -57px !important;  /* 50% of your logo width 
  display: block;
}

.navbar a:hover {
  color: #7F7F7F !important;
} */