html {
  height: 100%;
  letter-spacing: .2em;
  font-size: .875em;
  text-transform: uppercase;
}

body {
  height: 100%;
  position: relative;
}

.loading {
  height: 100%;
  width: 100%;
  background: url('../../img/loading.svg');
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: center;
}

.navbar {
  border: none;
}